GEMINI_API_KEY=
CNE_COSMOS_ENDPOINT=
CNE_COSMOS_KEY=
CNE_COSMOS_DATABASE_NAME=
CNE_COSMOS_PROFESSIONALS_CONTAINER=
CNE_COSMOS_SCHEDULE_CONTAINER=
CNE_COSMOS_CLOSURES_CONTAINER=
CNE_COSMOS_BUSINESS_ID=
CNE_COSMOS_AUTH_MODE=key
